
    <%= event.name %>
    <br><br>
    
    <%if(locals.user){%>
        <%if(!found){%>
        Register for this event
        <br><br>
        
        <%for(i of rules){%>
            <%=i%>
            <br>
        <%}%>
        I want to join a team
        <form action="/register/joinTeam" method="POST">
            <input type="text" name="teamCode" placeholder="Write the team code">
            <input type="hidden" name="eventNumber" value="<%=event.number%>">
            <input type="submit" value="Join Team">
        </form>
        <br><br>
        I want to make a team
        <form action="/register/createTeam" method="POST">
            <input type="text" name="teamName" placeholder="Write the team Name">
            <input type="hidden" name="eventNumber" value="<%=event.number%>">
            <input type="submit" value="Make Team">
        </form>
        <%}else{%>
            <a href="/register/exit-team?teamId=<%=team._id%>&eventNumber=<%=event.number%>">Exit from this event</a>
      <ul>
          <li>
              <%=team.name%>
          </li>
          <li>
              <%=team.code%>
          </li>
          <li>
              <ul>
                  <%for(user of team.user){%>
                    <li><%=user.name%></li>
                  <%}%>
              </ul>
          </li>
      </ul>
    <%}}else{%>
        <%for(i of rules){%>
            <%=i%>
            <br>
        <%}%>
        You need to sign-in, then only you will be able to access the register button
    <%}%>
    