

    <div class="single-event-space" style="width : 100%; height:130px;">

    </div>
    <div class="fluid" id="single-events-event">
      <h1 style="text-align: center;" class="display-1 single-event-page-title">
        <%= event.name %>
      </h1>
      <div class="row mx-3 shadow p-3 mb-5 bg-white rounded">
        <div class="col-4 single-events-details shadow-lg p-3 my-3 bg-white rounded">
          <h2 class="single-event-page-title">Date</h2>
          <p>9<sup>th</sup>April</p>
        </div>
        <div class="col-4 single-events-details shadow-lg p-3 my-3 bg-white rounded">
          <h2 class="single-event-page-title">Time</h2>
          <p>---</p>
        </div>
        <div class="col-4 single-events-details shadow-lg p-3 my-3 bg-white rounded">
          <h2 class="single-event-page-title">Venue</h2>
          <p>---</p>
        </div>
      </div>
      <div class="row mx-3 shadow p-3 mb-5 bg-white rounded justify-content-center">
        <div class="col-12">
          <h2 style="text-align: center;" class="single-event-page-title">Rules</h2>
          <br />
          
            <%for(i of rules){%>
              
                <%=i%>
              <br>
          <%}%>
          
        </div>
      </div>
      <%if(locals.user){%>
        <%if(!found){%>
          <!-- for solo events -->
          <%if(event.category == 'solo' ){%>
          <div class="row mx-5">
            <div class="sm-col-12 col-6 shadow-lg p-3 my-3 bg-white rounded p-3  ">
              Register for this event
              <form method="POST" action="/register/createTeam">
                <div class="form-group">
                  <input type="hidden" name="eventNumber" value="<%=event.number%>">
                </div>
    
                <button
                  type="submit"
                  class="single-event-button btn btn-primary"
                >
                  Register
                </button>
              </form>
            </div>
            <%}%>
            <%if(event.category == 'team'){%>
      <!-- create a team -->
      <div class="row mx-5">
        <div class="sm-col-12 col-6 shadow-lg p-3 my-3 bg-white rounded p-3  ">
          Create a team
          <form method="POST" action="/register/createTeam">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                name="teamName"
                aria-describedby="emailHelp"
                placeholder="Enter Team name"
                required
              />
              <input type="hidden" name="eventNumber" value="<%=event.number%>">
            </div>

            <button
              type="submit"
              class="single-event-button btn btn-primary"
            >
              Make a new Team
            </button>
          </form>
        </div>
        <!-- join a team -->
        <div class="col-6 shadow-lg p-3 my-3 bg-white rounded p-3 ">
          Join a team
          <form method="POST" action="/register/joinTeam">
            <div class="form-group">
              <input
                type="text"
                name="teamCode"
                class="form-control"
                aria-describedby="emailHelp"
                placeholder="Write the team code"
                required
              />
              <input type="hidden" name="eventNumber" value="<%=event.number%>">
            </div>

            <button
              type="submit"
              class="single-event-button btn btn-primary">
              Join Team
            </button>
          </form>
        </div>
        <%}}else{%>
          <%if(event.category == 'solo'){%>
          <div class="col-6 shadow-lg p-3 my-3 bg-white rounded p-3 ">
            <a href="/register/exit-team?teamId=<%=team._id%>&eventNumber=<%=event.number%>">
              <button
              class=" single-event-button btn btn-primary">
              Exit from this event
            </button>
            </a>
            You have successfully registered for the event
          </div>
          <%}%>
          <%if(event.category == 'team'){%>
            
            <div class="col-6 shadow-lg p-3 my-3 bg-white rounded p-3 ">
              <a href="/register/exit-team?teamId=<%=team._id%>&eventNumber=<%=event.number%>">
                <button
                class="single-event-button btn btn-primary"
                >
                Exit from this event
              </button>
              </a>
              <br>
              <ul>
                <p class="h5 single-event-page-title">
                  Your team Name is
                </p>
                <li>
                    <%=team.name%>
                </li>
                <p class="h5 single-event-page-title">
                  Your team code is
                </p>
                <li>
                    <%=team.code%>
                </li>
                <p class="h5 single-event-page-title">
                  Your team members includes:-
                </p>
                <li>
                    <ul>
                        <%for(user of team.user){%>
                          <li><%=user.name%></li>
                        <%}%>
                    </ul>
                </li>
            </ul>
              
            </div>
        <%}}%>
        <%}else{%>
        <!-- Sign in before register -->
        <div class="col-6 shadow-lg p-3 my-3 bg-white rounded p-3 ">
          You need to sign-in, then only you will be able to access the register button
        </div>
        <%}%>
      </div>
    </div>
  </body>
</html>
