
    <section class="space">

    </section>

    <!-- <section class="main-section "> -->
        <div class="profile-details-section">
            <%if(user.gender == 'Male'){%>
                <img src="../images/unnamed5.png" alt="">
            <%}else{%>
                <img src="../images/unnamed6.png" alt="">
            <%}%>
            <br>
            <h6><small>Name </small> - <%=user.name%></h6> 
            <h6><small>Email </small> - <%=user.email%></h6>
            <h6><small>Phone </small> - <%=user.phone%></h6>
            <h6><small>Unversity</small> - <%=user.college%></h6>
            <h6><small>Roll number</small> - <%=user.rollNumber%></h6>
            <h6><small>Branch</small> - <%=user.branch%></h6>
            <h6><small>Year</small> - <%=user.year%></h6>
            <h6><small>Gender</small> - <%=user.gender%></h6>
            
            <a href="/users/update"><button>Update Profile</button></a>
        </div>

        
        <div class="profile-events-registered">
            <%for(team of user.team){%>
            <div class="profile-events-registered-container">
                <h5 id="profile-events-registered-container-title">
                    <%=team.name%>
                </h5>
                <br>
                
                <h5><%=team.code%></h5>
                <br>
                <a href="/event-list/<%=team.event%>"><button>View your team members</button></a>
                <br>
            </div>
            <%}%>
        </div>
        
    <!-- </section> -->
