<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your Dashboard</title>
</head>
<body>
    <button><a href="/users/update">Update Profile</a></button>
    <button><a href="/">Home</a></button>
    <br><br><br>
    <%= user.name %>
    <br>
    <%= user.email %>
    <br><br>
    Team Name and for the event you have registered
    <br>
    <%for(team of user.team){%>
       <ul>
           <li>
               <%=team.name%> <br>
               <%=team.event%> <br>
               <%=team.code%> <br>
           </li>
       </ul>
    <%}%>

</body>
</html>